/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/samsung.h>
#include <dt-bindings/clock/maxim,max77686.h>
#include <dt-bindings/power/summit,smb347-charger.h>
#include "exynos5250.dtsi"

/ {
	model = "Google Nexus 10";
	compatible = "samsung,manta", "samsung,exynos5250", "samsung,exynos5";

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x7FEFFFFF>;
	};

	chosen {
		bootargs = "vmalloc=512M PMOS_NO_OUTPUT_REDIRECT";
		stdout-path = &serial_2;
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <24000000>;
		};

		xusbxti {
			compatible = "samsung,clock-xusbxti";
			clock-frequency = <24000000>;
		};
	};

	firmware@203f000 {
		compatible = "samsung,secure-firmware";
		reg = <0x02410000 0x1000>;
	};

	wlan_pwrseq: mmc1-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&gpv1 0 GPIO_ACTIVE_LOW>;
		pinctrl-0 = <&wlan_pmena>;
		pinctrl-names = "default";
		clocks = <&max77686 MAX77686_CLK_PMIC>;
		clock-names = "ext_clock";
		post-power-on-delay-ms = <300>; //300ms on probe, else 500ms
		power-off-delay-us = <50>;
	};

	hsotg: hsotg@12140000 {
		compatible = "samsung,s3c6400-hsotg";
		reg = <0x12140000 0x20000>;
		interrupts = <GIC_SPI 74 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&clock CLK_USBOTG>;
		clock-names = "otg";
		phys = <&usb2_phy_gen 0>;
		phy-names = "usb2-phy";

		vusb_a-supply = <&ldo12_reg>;

		dr_mode = "otg";
		role-switch-default-mode = "peripheral";

		status = "okay";
	};

};

// Serial
&serial_0 {
	pinctrl-names = "default", "flow-control";
	pinctrl-0 = <&uart0_data>;
	pinctrl-1 = <&uart0_data>, <&uart0_fctl>;
	status = "okay";
};

&serial_1 {
	pinctrl-names = "default", "flow-control";
	pinctrl-0 = <&uart1_data>;
	pinctrl-1 = <&uart1_data>, <&uart1_fctl>;
	status = "okay";
};

&serial_2 {
	pinctrl-names = "default", "flow-control";
	pinctrl-0 = <&uart2_data>;
	pinctrl-1 = <&uart2_data>, <&uart2_fctl>;
	status = "okay";
};

&serial_3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_data>;
	status = "okay";
};

// I2C
&i2c_0{
	status = "okay";
	/* used by HDMI DDC */
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-max-bus-freq = <65000>;
	//exynos_hdcp
	//exynos_edid
};

//&i2c_1{
//	//as3668 LED driver (no driver nor DT in kernel)
//	};
//
//&i2c_2{
//	//stmpe811-adc Touch screen sensor (lunchbox rev only ?)
//	//ds2482 Single channel 1-wire master (battery)
//	//smb347
//};
//
//&i2c_3{
//	//atmel Atmel maXTouch Touchscreen
//};
//
//&i2c_4{
//	//audience es305 Voice processor
//};

&i2c_5 {
	status = "okay";
	samsung,i2c-sda-delay = <100>;

	max77686: pmic@9 {
		compatible = "maxim,max77686";
		reg = <0x09>;
		interrupt-parent = <&gpx0>;
		interrupts = <2 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&max77686_irq>;
		#clock-cells = <1>;
		wakeup-source;

		voltage-regulators {
			ldo3_reg: LDO3 {
				regulator-name = "VCC_1.8V_AP";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};
			ldo8_reg: LDO8 {
				regulator-name = "VMIPI_1.0V";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};
			ldo9_reg: LDO9 {
				regulator-name = "TOUCH_VDD_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
			ldo10_reg: LDO10 {
				regulator-name = "VMIPI_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};
			ldo12_reg: LDO12 {
				regulator-name = "VUOTG_3.0V";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;
			};
			ldo15_reg: LDO15 {
				regulator-name = "VHSIC_1.0V";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <1000000>;
				regulator-always-on;
				regulator-boot-on;
			};
			ldo16_reg: LDO16 {
				regulator-name = "VHSIC_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
			};
			ldo17_reg: LDO17 {
				regulator-name = "5M_CORE_1.5V";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
			};
			ldo18_reg: LDO18 {
				regulator-name = "CAM_IO_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
			ldo19_reg: LDO19 {
				regulator-name = "VT_CAM_1.8V";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
			};
			ldo20_reg: LDO20 {
				regulator-name = "TA_CHECK_1.35V";
				regulator-min-microvolt = <1350000>;
				regulator-max-microvolt = <1350000>;
			};
			ldo23_reg: LDO23 {
				regulator-name = "TSP_AVDD_2.8V";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};
			ldo24_reg: LDO24 {
				regulator-name = "CAM_AF_2.8V";
				regulator-min-microvolt = <2800000>;
				regulator-max-microvolt = <2800000>;
			};
			ldo25_reg: LDO25 {
				regulator-name = "VADC_3.3V";
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
				regulator-boot-on;
			};
			buck1_reg: BUCK1 {
				regulator-name = "vdd_mif";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};
			buck2_reg: BUCK2 {
				regulator-name = "vdd_arm";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};
			buck3_reg: BUCK3 {
				regulator-name = "vdd_int";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1200000>;
				regulator-always-on;
				regulator-boot-on;
			};
			buck4_reg: BUCK4 {
				regulator-name = "vdd_g3d";
				regulator-min-microvolt = <850000>;
				regulator-max-microvolt = <1200000>;
				regulator-boot-on;
			};
		};
	};
};

&i2c_8 {
	status = "okay";
	/* used by HDMI PHY */
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-max-bus-freq = <65000>;
};

&mmc_0{
	status = "okay";
	broken-cd;
	non-removable;
	max-frequency = <200000000>;
	sd-uhs-ddr50;
	mmc-ddr-1_8v;
	cap-mmc-hw-reset;
	mmc-hs200-1_8v;
	bus-width = <8>;
	card-detect-delay = <200>;
	samsung,dw-mshc-ciu-div = <3>;
	samsung,dw-mshc-sdr-timing = <1 2>;
	samsung,dw-mshc-ddr-timing = <2 3>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus4 &sd0_bus8>;
};

&mmc_1{
	status = "okay";
	non-removable;
	max-frequency = <200000000>;
	sd-uhs-sdr104;
	cap-sd-highspeed;
	keep-power-in-suspend;
	bus-width = <4>;
	card-detect-delay = <0>;
	samsung,dw-mshc-ciu-div = <3>;
	samsung,dw-mshc-sdr-timing = <2 4>;
	samsung,dw-mshc-ddr-timing = <2 3>;
	pinctrl-names = "default";
	pinctrl-0 = <&sd1_clk &sd1_cmd &sd1_bus4>;
	mmc-pwrseq = <&wlan_pwrseq>;

	brcmf: wifi@1 {
		compatible = "brcm,bcm4330-fmac", "brcm,bcm4329-fmac";
		reg = <1>;
		interrupt-parent = <&gpx2>;
		interrupts = <5 IRQ_TYPE_NONE>;
		interrupt-names = "host-wake";
	};
};

&pinctrl_0 {
	max77686_irq: max77686-irq {
		samsung,pins = "gpx0-2";
		samsung,pin-function = <EXYNOS_PIN_FUNC_F>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS4_PIN_DRV_LV1>;
	};
	smb347_irq: smb347-irq {
		samsung,pins = "gpx0-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
	};
	pwm_in_18v: pwm-in-18v {
		samsung,pins = "gpb2-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS4_PIN_DRV_LV1>;
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_INPUT>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_UP>;
		samsung,pin-val = <0>;
	};
	power_irq: power-irq-pins {
		samsung,pins = "gpx2-7";
		samsung,pin-function = <EXYNOS_PIN_FUNC_F>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS4_PIN_DRV_LV1>;
	};
	usb_id: usb_id {
		samsung,pins = "gpx1-1";
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_INPUT>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
	};
	wlan_irq: wlan-irq {
		samsung,pins = "gpx2-5";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS4_PIN_DRV_LV3>;
	};
};
&sd1_cmd {
	samsung,pin-con-pdn = <EXYNOS_PIN_PDN_INPUT>;
	samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
};
&sd1_bus4 {
	samsung,pin-con-pdn = <EXYNOS_PIN_PDN_INPUT>;
	samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
};

&pinctrl_2 {
	wlan_pmena: wlan-pmena {
		samsung,pins = "gpv1-0";
		samsung,pin-function = <EXYNOS_PIN_FUNC_OUTPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <EXYNOS4_PIN_DRV_LV3>;
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-val = <0>;
	};
};

&cpu0 {
	cpu0-supply = <&buck2_reg>;
	clock-frequency = <1700000000>;
};

&cpu1 {
	clock-frequency = <1700000000>;
};

&rtc {
	status = "okay";
	clocks = <&clock CLK_RTC>, <&max77686 MAX77686_CLK_AP>;
	clock-names = "rtc", "rtc_src";
};
